<?xml version="1.0"?>
<configuration>
	<appSettings>
    
		<!-- Mailee - SecretKey -->
    <add key="MaileeKey" value="XXXXXXXXXXXXXXXXX"/>

    <!-- Mailee - Subdomain -->
    <add key="MaileeSubdomain" value="XXXXXXXXXXXXXXXXX"/>

  </appSettings>

	<system.web>
    
    <pages validateRequest="false"></pages>

    <compilation debug="true"></compilation>
  
    <httpRuntime executionTimeout="7200"/>

	</system.web>

</configuration>
